# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List of popular languages
- Libraries used by data scientists
- Data Science Tools
- Arithmetic Expression in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

#### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. BeautifulSoup

#### 
Data Science Tools:
    
|Data Science Tools| 
|:------| 
|Jupyter Notebook|
|RStudio|
|Apache Spark|

In [8]:
# Below are a few examples of evaluating arithmetic expressions in Python.
import math

x = math.sqrt(25) * math.pi / 2
print(x)
# Result: 7.853981633974483

x = 5
y = 3
z = x + y * 2
print(z)
# Result: 11

7.853981633974483
11

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5
# Result: 17

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
hours = 0
mins = 0

time = 200

hours = time / 60
print(str(hours) + " hours")

# Result: 3.3333333333333335 hours

3.3333333333333335 hours

## Author
Sai Soum Mein